flow/template/flow.json
    [{"id":"305913d90cea44d5","type":"tab","label":"Teachers Flows Manager","disabled":false,"info":"","env":[]},{"id":"6c1f15b3214ccfa2","type":"subflow","name":"Wemo Subflow","info":"","category":"","in":[{"x":140,"y":100,"wires":[{"id":"b001d489.d8f818"}]}],"out":[{"x":1000,"y":500,"wires":[{"id":"3817be8f598f58e8","port":0},{"id":"3df7091622639f87","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"5bf9214a874bb643","type":"subflow","name":"Appel Watch Subflow","info":"","category":"","in":[{"x":300,"y":140,"wires":[]}],"out":[{"x":860,"y":440,"wires":[{"id":"a1db25354a12de91","port":0},{"id":"f3b33c7912dad180","port":0}]}],"env":[{"name":"TEACHER_ID","type":"str","value":"3"}],"meta":{},"color":"#DDAA99"},{"id":"e8db8278.17248","type":"subflow","name":"Customized process","category":"","in":[{"x":70,"y":70,"wires":[{"id":"b92b5d90.46d4a"}]}],"out":[{"x":350,"y":70,"wires":[{"id":"b92b5d90.46d4a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9bd7dd6658825e75","type":"subflow","name":"Camera Subflow","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"6e139e874ef97f37"}]}],"out":[{"x":1180,"y":140,"wires":[{"id":"c6518fc5e9a99061","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f353733b2ba7d746","type":"subflow","name":"Fitbit Subflow","info":"","category":"","in":[{"x":40,"y":260,"wires":[{"id":"7d24e89a80494244"},{"id":"2104f6c740d6d456"}]}],"out":[{"x":1840,"y":300,"wires":[{"id":"a5ce11a8f2a9e6c7","port":0},{"id":"7d76ae378bd369b2","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"35b5f00ae59ad2ba","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c9f9dcf02da780e6","06406bd1c8d20140","e104d0c62e536385","e95c6faa.ab2e1","b001d489.d8f818"],"x":434,"y":39,"w":452,"h":322},{"id":"713d71bd788e9ec7","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3817be8f598f58e8","08e9614773c2b767","6467a526798c4606","3df7091622639f87","ac77d0cff9766d4c"],"x":434,"y":419,"w":352,"h":302},{"id":"89a65c0d8e23a65f","type":"group","z":"305913d90cea44d5","name":"","style":{"label":true},"nodes":["2df4645b50e78323","5967fd3bf03e120b","17c013a993119a26"],"x":394,"y":159,"w":272,"h":222},{"id":"21c6b7067673390e","type":"group","z":"5bf9214a874bb643","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d359a125e28c0d46","faed3f3115a8b7ae","2e18099aac9df08c","b48f871b67638065","6624be9a531f0b5b"],"x":394,"y":39},{"id":"53b85d0963266699","type":"group","z":"5bf9214a874bb643","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f3b33c7912dad180","a1a84878c89c4501","89c755313d3019be","a1db25354a12de91"],"x":394,"y":399},{"id":"0054385349154bbd","type":"group","z":"f353733b2ba7d746","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a5ce11a8f2a9e6c7","adccf4220b56daa5","adbced6355b7d23b","7d76ae378bd369b2","ecacace3d5800de1"],"x":1294,"y":199,"w":472,"h":182},{"id":"dc95d9593e301fd7","type":"group","z":"f353733b2ba7d746","name":"","style":{"label":true},"nodes":["c9cfa13bcba5dac0","57488fb4e547e7e7"],"x":154,"y":19,"w":272,"h":122},{"id":"69acbbe51fe5344a","type":"group","z":"f353733b2ba7d746","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d6c4ef6880dfa368","e8199bcacaa33c2a","024b76fc86e79a56","f8967a677053edeb","9cc6912498971e6c","ea80e3629986a762","0efe098a32f74d91","c4160c544a762c82","6880273da57a8eda","7d24e89a80494244","2104f6c740d6d456"],"x":194,"y":179,"w":1032,"h":282},{"id":"e62e1a4a9642b684","type":"apple-find-me-account","name":"Apple Account","timezone":"Canada/Eastern","timeformat":"YYYY-MM-DD HH:mm:ss","timeout":"5"},{"id":"65608fcbf6fc87f6","type":"grpc-server","port":"50051","name":"Camera","server":"localhost","protoFile":"syntax = \"proto3\";\n\npackage detection;\n\nservice PersonDetection {\n    rpc DetectPersons (Empty) returns (PersonCount);\n}\n\nmessage Empty {}\n\nmessage PersonCount {\n    int32 detected_persons = 1;\n}\n","ca":"","chain":"","key":"","mutualTls":false,"ssl":false,"selfsigned":false,"localServer":false},{"id":"912436fff8481417","type":"firebase config","firebaseurl":"wimp-project-63c97-default-rtdb","loginType":"jwt"},{"id":"c9f9dcf02da780e6","type":"change","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Wemo State Boolean Conversion","rules":[{"t":"change","p":"payload.state","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.state","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["06406bd1c8d20140"]]},{"id":"06406bd1c8d20140","type":"function","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.state === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["3817be8f598f58e8"]]},{"id":"51750f3ffe2e9f0a","type":"comment","z":"6c1f15b3214ccfa2","name":"Subflow for WEMO device ","info":"","x":1050,"y":80,"wires":[]},{"id":"3817be8f598f58e8","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{global.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":520,"y":460,"wires":[[]]},{"id":"e104d0c62e536385","type":"comment","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":660,"y":80,"wires":[]},{"id":"08e9614773c2b767","type":"comment","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":600,"y":680,"wires":[]},{"id":"6467a526798c4606","type":"catch","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","scope":null,"uncaught":false,"x":520,"y":520,"wires":[["3df7091622639f87"]]},{"id":"3df7091622639f87","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"result\": \"\"\n}","output":"json","x":700,"y":520,"wires":[[]]},{"id":"e95c6faa.ab2e1","type":"http request","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:5000/wemo?name={{{query}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":180,"wires":[["c9f9dcf02da780e6"]]},{"id":"b001d489.d8f818","type":"change","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["e95c6faa.ab2e1"]]},{"id":"ac77d0cff9766d4c","type":"status","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","scope":null,"x":520,"y":580,"wires":[[]]},{"id":"785dfce9de776177","type":"comment","z":"5bf9214a874bb643","name":"Subflow for Teacher 3","info":"","x":1000,"y":60,"wires":[]},{"id":"d359a125e28c0d46","type":"function","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.location.inarea === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["f3b33c7912dad180"]]},{"id":"faed3f3115a8b7ae","type":"comment","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":620,"y":80,"wires":[]},{"id":"f3b33c7912dad180","type":"template","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":500,"y":440,"wires":[[]]},{"id":"a1a84878c89c4501","type":"comment","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":560,"y":560,"wires":[]},{"id":"89c755313d3019be","type":"catch","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","scope":null,"uncaught":false,"x":500,"y":500,"wires":[["a1db25354a12de91"]]},{"id":"a1db25354a12de91","type":"template","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":680,"y":500,"wires":[[]]},{"id":"b48f871b67638065","type":"change","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Set geo coordinates","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"payload[\"Apple Watch\"][0].locationInfo.latitude","tot":"msg","dc":true},{"t":"set","p":"location.lon","pt":"msg","to":"payload[\"Apple Watch\"][0].locationInfo.longitude","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["6624be9a531f0b5b"]]},{"id":"2e18099aac9df08c","type":"apple-find-me-with-payload","z":"5bf9214a874bb643","g":"21c6b7067673390e","account":"e62e1a4a9642b684","name":"","geoAPI":"OSM","distanceInMeter":150,"geoApiKey":"","places":[],"x":520,"y":140,"wires":[["b48f871b67638065"]]},{"id":"6624be9a531f0b5b","type":"geofence","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Geo Filter","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":45.496906240945314,"longitude":-73.58035795390606},{"latitude":45.49586466231433,"longitude":-73.58148984611034},{"latitude":45.49542130401223,"longitude":-73.57966527342796},{"latitude":45.496158313294096,"longitude":-73.57874259352684}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":740,"y":220,"wires":[["d359a125e28c0d46"]]},{"id":"b92b5d90.46d4a","type":"function","z":"e8db8278.17248","name":"FOO","func":"msg.payload = \"return from FOO\";\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":71,"wires":[[]]},{"id":"4e320a69365f7095","type":"grpc-call","z":"9bd7dd6658825e75","name":"","server":"65608fcbf6fc87f6","service":"PersonDetection","method":"DetectPersons","chain":"","key":"","x":550,"y":140,"wires":[["116e2ba7ff41ee81"]]},{"id":"6e139e874ef97f37","type":"function","z":"9bd7dd6658825e75","name":"supply name","func":"msg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["4e320a69365f7095"]]},{"id":"81781eb9cc2910a9","type":"comment","z":"9bd7dd6658825e75","name":"Subflow for Camera device ","info":"","x":190,"y":80,"wires":[]},{"id":"116e2ba7ff41ee81","type":"function","z":"9bd7dd6658825e75","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.detected_persons > 0 ) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[["c6518fc5e9a99061"]]},{"id":"c6518fc5e9a99061","type":"template","z":"9bd7dd6658825e75","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{global.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":1000,"y":140,"wires":[[]]},{"id":"0216ea9be1b63041","type":"comment","z":"9bd7dd6658825e75","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":560,"y":80,"wires":[]},{"id":"c9cfa13bcba5dac0","type":"firebase auth","z":"f353733b2ba7d746","g":"dc95d9593e301fd7","name":"Authentication","firebaseconfig":"912436fff8481417","x":270,"y":100,"wires":[[]]},{"id":"79f32bdb6f97bb6b","type":"status","z":"f353733b2ba7d746","name":"","scope":["c9cfa13bcba5dac0"],"x":200,"y":740,"wires":[[]]},{"id":"a5ce11a8f2a9e6c7","type":"template","z":"f353733b2ba7d746","g":"0054385349154bbd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{global.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":1680,"y":280,"wires":[[]]},{"id":"adccf4220b56daa5","type":"comment","z":"f353733b2ba7d746","g":"0054385349154bbd","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":1460,"y":240,"wires":[]},{"id":"57488fb4e547e7e7","type":"comment","z":"f353733b2ba7d746","g":"dc95d9593e301fd7","name":"Authentication to Firebase","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":290,"y":60,"wires":[]},{"id":"adbced6355b7d23b","type":"catch","z":"f353733b2ba7d746","g":"0054385349154bbd","name":"","scope":null,"uncaught":false,"x":1400,"y":340,"wires":[["7d76ae378bd369b2"]]},{"id":"7d76ae378bd369b2","type":"template","z":"f353733b2ba7d746","g":"0054385349154bbd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{global.TEACHER_ID}}\": \"\"\n}","output":"json","x":1680,"y":340,"wires":[[]]},{"id":"ecacace3d5800de1","type":"function","z":"f353733b2ba7d746","g":"0054385349154bbd","name":"Decision","func":"const msgBkp = msg;\ntry {\n    msg.payload.final = JSON.stringify(msgBkp.payload)\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":280,"wires":[["a5ce11a8f2a9e6c7"]]},{"id":"d6c4ef6880dfa368","type":"change","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Set geo coordinates","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"payload.latitude","tot":"msg","dc":true},{"t":"set","p":"location.lon","pt":"msg","to":"payload.longitude","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["e8199bcacaa33c2a"]]},{"id":"e8199bcacaa33c2a","type":"geofence","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Geo Filter","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":45.496906240945314,"longitude":-73.58035795390606},{"latitude":45.49586466231433,"longitude":-73.58148984611034},{"latitude":45.49542130401223,"longitude":-73.57966527342796},{"latitude":45.496158313294096,"longitude":-73.57874259352684}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":820,"y":340,"wires":[["f8967a677053edeb"]]},{"id":"024b76fc86e79a56","type":"firebase.on","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"On Acceleration Change","firebaseconfig":"912436fff8481417","childpath":"acceleration","atStart":true,"eventType":"child_added","queries":[{"name":"limitToLast","value":"1"}],"x":330,"y":420,"wires":[[]]},{"id":"f8967a677053edeb","type":"function","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.location.inarea === true) {\n        msg.payload.inarea = 1;\n    } else {\n        msg.payload.inarea = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":340,"wires":[["9cc6912498971e6c"]]},{"id":"9cc6912498971e6c","type":"join","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":280,"wires":[["ecacace3d5800de1"]]},{"id":"ea80e3629986a762","type":"switch","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"60","vt":"num","v2":"80","v2t":"num"},{"t":"gt","v":"80","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":260,"wires":[["c4160c544a762c82"],["0efe098a32f74d91"]]},{"id":"0efe098a32f74d91","type":"change","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Not Ready ?","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"not ready\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["9cc6912498971e6c"]]},{"id":"c4160c544a762c82","type":"change","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Ready ?","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"ready\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["9cc6912498971e6c"]]},{"id":"6880273da57a8eda","type":"comment","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":420,"y":220,"wires":[]},{"id":"7d24e89a80494244","type":"firebase.once","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"Heart Rate","firebaseconfig":"912436fff8481417","childpath":"heartRate","repeatifnull":false,"eventType":"child_added","queries":[{"name":"limitToLast","value":"","valType":"str"}],"x":310,"y":260,"wires":[["ea80e3629986a762"]]},{"id":"2104f6c740d6d456","type":"firebase.once","z":"f353733b2ba7d746","g":"69acbbe51fe5344a","name":"geolocation","firebaseconfig":"912436fff8481417","childpath":"geolocation","repeatifnull":true,"eventType":"child_added","queries":[{"name":"limitToLast","value":"1","valType":"str"}],"x":330,"y":340,"wires":[["d6c4ef6880dfa368"]]},{"id":"8e6d7669c09cdfa4","type":"http in","z":"305913d90cea44d5","name":"","url":"/currentStates","method":"post","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["5967fd3bf03e120b","17c013a993119a26"]]},{"id":"95b1b3cf97b4604a","type":"comment","z":"305913d90cea44d5","name":"Teacher Flows Manager","info":"","x":180,"y":160,"wires":[]},{"id":"2df4645b50e78323","type":"comment","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Add the Teacher Subflow ","info":"","x":530,"y":200,"wires":[]},{"id":"1f2a9a66bc09140f","type":"http response","z":"305913d90cea44d5","name":"currentStates Response","statusCode":"200","headers":{},"x":1090,"y":260,"wires":[]},{"id":"fec93a6da5f11e43","type":"join","z":"305913d90cea44d5","name":"Join Teachers Status","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":800,"y":260,"wires":[["8feff64e4b1b39c0","1f2a9a66bc09140f"]]},{"id":"8feff64e4b1b39c0","type":"debug","z":"305913d90cea44d5","name":"All status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":180,"wires":[]},{"id":"1c36b52c2077f67c","type":"catch","z":"305913d90cea44d5","name":"","scope":null,"uncaught":false,"x":140,"y":540,"wires":[["b25b53b3ba773013"]]},{"id":"b25b53b3ba773013","type":"debug","z":"305913d90cea44d5","name":"Decision Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":540,"wires":[]},{"id":"d66f687a.d01248","type":"change","z":"305913d90cea44d5","name":"Global ID","rules":[{"t":"set","p":"TEACHER_ID","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["67cb1bc6.0b3724"]]},{"id":"578fe08e.8f056","type":"inject","z":"305913d90cea44d5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"####################","payloadType":"str","x":210,"y":80,"wires":[["d66f687a.d01248"]]},{"id":"67cb1bc6.0b3724","type":"debug","z":"305913d90cea44d5","name":"Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"c7fec8816ef9041a","type":"comment","z":"305913d90cea44d5","name":"Initialize the Global Variable ","info":"","x":200,"y":40,"wires":[]},{"id":"5967fd3bf03e120b","type":"subflow:6c1f15b3214ccfa2","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"","x":520,"y":260,"wires":[["fec93a6da5f11e43"]]},{"id":"17c013a993119a26","type":"subflow:f353733b2ba7d746","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"","x":530,"y":340,"wires":[["fec93a6da5f11e43"]]}]